<div class="job">
    <div>
        <h3>{{ job["title"] }}</h3>
        <p><b>Location:</b> {{ job["location"] }}</p>

        {% if "Salary" in job %}
        <p><b>Salary:</b> {{job["currency"]}} {{ job["Salary"] }} </p>
        {% endif %}
        
        {% if "Job Type" in job %}
        <p><b>Job Type:</b> {{job["type"] }}</p>
        {% endif %}

    </div>
    
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=kayasthav@rknec.edu&su=Application for {{ job['title'] }}&body=Dear%20Hiring%20Manager,%0A%0AI%20am%20writing%20to%20express%20my%20interest%20in%20the%20{{ job['title'] }}%20position%20at%20your%20company.%0A%0A[Please%20add%20specific%20details%20about%20your%20qualifications%20and%20why%20you%20are%20interested%20in%20the%20role.]%0A%0AThank%20you%20for%20considering%20my%20application.%0A%0ASincerely,%0A[Your%20Name]%0A[Your%20Contact%20Information]"
    target="_blank">
        <button>Apply</button>
    </a>

</div>


